﻿@{
    // CultureInfo.CurrentCulture wird vom Browser "angefordert" und
    // ggf. in Application_AcquireRequestState auf en-US gesetzt falls wir diese
    // culture nicht liefern können
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}

@* wir laden genau diejenige Culture die vom Browser angefordert wird! *@
<script src="@Url.Content("~/Scripts/kendo/2014.1.415/cultures/kendo.culture." + culture + ".min.js")"></script>
<script src="@Url.Content("~/Scripts/globalize/globalize.js")"></script>
<script src="@Url.Content("~/Scripts/globalize/cultures/globalize.culture." + culture + ".js")"></script>

<script type="text/javascript">
    // http://squadwuschel.wordpress.com/2012/12/09/mvc-client-datenvalidierung-fr-dd-mm-yyyy-mit-jquery-globalize/
    // http://afana.me/post/aspnet-mvc-internationalization.aspx
    jQuery.validator.methods.date = function(value, element) {
        return Globalize.parseDate(value);
    };

    jQuery.validator.methods.number = function(value, element) {
        if (Globalize.parseFloat(value)) {
            return true;
        }
    };

    kendo.culture("@culture");		 // kendo-culture
    Globalize.culture("@culture");	 // jquery-culture (validation)				    
</script>