﻿@model Datetime.Models.Test

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script type="text/javascript">
    function onSaveClick() {
        var form = $("#test-form");
        if (form.valid()) {
            $.ajax({
                url: form.attr("action"),
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    // Doku003
                    if (response.UserMessage != '') {
                        // Plausiprüfung => Eingabe muss nachgebessert werden!
                        alert(response.UserMessage);
                    }
                }
            });
        }
    }
</script>

@using (Html.BeginForm("Save", "Test", FormMethod.Post, new { @class = "form-horizontal", id = "test-form", role = "form" }))
{
    <fieldset>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Datum_1_Pflichteingabe)
            </div>
            <div class="col-md-2">
                @(Html.Kendo().DatePickerFor(m => m.Datum_1_Pflichteingabe))
                @Html.ValidationMessageFor(m => m.Datum_1_Pflichteingabe)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Datum_2_Optional)
            </div>
            <div class="col-md-2">
                @(Html.Kendo().DatePickerFor(m => m.Datum_2_Optional))
                @Html.ValidationMessageFor(m => m.Datum_2_Optional)
            </div>
        </div>
    </fieldset>
    @(Html.Kendo().Button()
        .Name("btnSave")
        .Tag("a")
        .Events(ev => ev.Click("onSaveClick"))
        .Content("Save")
    )
}
